label{
    float: left;
    width:90px;
    font-family: "Century Gothic";
    font-weight: 400;
}
input[type=text] {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
}
.newDiv{
    font-family: "Century Gothic";
    font-weight: bold;
    margin-bottom: 15px;
}
h1,h2{
    font-family: Calibri;
}
h2{
    font-style: italic;
    color:#0000ff;
}


.button:enabled{
    background: #00FF7F;
}